.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  float: left;
  font-family: Georgia;
  font-size: 18px;
  height: 200px;
  margin: 8px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 200px;
}

.card:hover {
  border-color: #999;
}

.card.face-down div {
  display: none;
}

.card.face-down {
  background: #fefefe;
}

.card.correct {
  border-color: green;
}

.card.incorrect {
  border-color: red;
  box-shadow: 2px 2px 1px rgba(255,0,0,0.4);
}
